<h2>Edit this Contact</h2>
<%= render partial: "layouts/errors", locals: {object: @contact} %>
<%=render partial: 'form'%>

<br> or back to <%= link_to  "#{@contact.name}'s page", contact_path(@contact) %>


