<h3>All Contacts</h3>
<h4>-In Alphabetical Order-</h4>
 
<% @contacts.each do |contact| %>

  <li> 
    
    <%= link_to contact.name, contact_path(contact) %>

    - <%= contact.description%>
  
</li>

<%end%>

<br><%= link_to  "Add a New Contact", new_contact_path %> |
<%= link_to  "View All Contacts By Frequency", most_frequently_contacted_contacts_path %>

