/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body.users {
  height: 100%;
  background-color: #7698b7;
}

 .site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }

  .site-header a {
    color: #999;
    transition: ease-in-out color .15s;
  }

  .site-header a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  #site_content
  { text-align: left;
    width: 100%;
    height: 100%;
    float: left;
    background-color: rgb(230, 203, 168);
  }

  #content
  { text-align: left;  
    height: 100%;
    margin: 5%;
    padding: 40px 40px;
    background-color: rgb(182, 176, 165);
  }
  

  
  h4
  {
    text-align: center;
    color: darkcyan;
  }

  h3
  {
    text-align: center;
    color: rgba(0, 0, 0, .85);

  }

  