Log index page, add search filter

 
<% @logs.each do |log| %>

  <li> 
    
    <%= link_to display_date(log), log_path(log) %>: 
     <%= log.contact.name %>
    -  <%= log.communication_type%>
    -  <%= answered_yesno(log)%>

</li>

<%end%>