<%= render partial: "layouts/errors", locals: {object: @log} %>
<h2>Add a New Log</h2>

<% if @contact %>
    <%=render partial: 'nested_form'%>
<% else%>
    <%=render partial: 'form'%>
<%end%>

